<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 添加应用所需权限 -->
    <!--允许访问网络，必选权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--允许获取精确位置，实时导航为必选-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--允许获取粗略位置，若用GPS实现定位小蓝点功能则必选-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--允许获取设备和运营商信息，用于问题排查和网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--允许获取网络状态，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--允许获取wifi网络信息，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--允许获取wifi状态改变，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--后台获取位置信息，若需后台定位或持续导航则必选-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!--用于申请调用A-GPS模块,卫星定位加速-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--允许读设备等信息，用于问题排查-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".MapScenesApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MapScenes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">

        <service android:name="com.amap.api.location.APSService"/>

        <!--每个activity对应一个应用界面，下面这个是应用的首页，也就是启动应用时第一个打开的界面-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MapScenes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--以下声明其它的界面,每申明一个页面都要创建对应的文件如左侧MainActivitiy.kt-->
        <!--登录界面-->
        <activity android:name=".LoginActivity" />
        <!--注册界面-->
        <activity android:name=".RegisterActivity" />
        <!--我的页面-->
        <activity android:name=".myActivity" />
        <!--周边页面-->
        <activity android:name=".ZhoubianActivity" />
        <!--反馈页面-->
        <activity android:name=".feedbackActivity" />
        <!--行程页面-->
        <activity android:name=".TripActivity" />
        <!--添加行程页面-->
        <activity android:name=".TripaddActivity" />
        <!--输入提示页面-->
        <activity
            android:name=".InputTipsActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--如有更多申明在此继续-->

        <!-- 高德地图配置 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f024a0bfb74e3e959e4f92b378408ed3" />

    </application>
</manifest>